<h2 class="page-header">Account Login</h2>
<form method="post" action="/users/login">
  <span class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" placeholder="Username">
  </span>
  <span class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </span>
  <button type="submit" class="btn btn-default">Submit</button>
   <div>
    <span className="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>